<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Taco Cloud</title>
    </head>
    <body>
        <h1>Welcome to...</h1>
        <a th:href="@{/design}">
            <img th:src="@{/images/TacoCloud.png}"/>
        </a>
        <form method="POST" th:action="@{/logout}">
            <input type="submit" value="Logout"/>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        </form>
        <form method="POST" th:action="@{/admin/deleteOrders}">
            <input type="submit" value="모든 주문 삭제 (ADMIN)"/>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        </form>
    </body>
</html>